<div class="text-center mb-3">
  <h1>ユーザー登録</h1>
</div>

<div>

  
  <div class="row">
    <div class="signup-form col-sm-6 offset-sm-3">
      
      <%= form_with(model: @user, local: true) do |f| %>
        
        <div class="form-group">
          
          <% if @user.image.present? %>
            <%= image_tag @user.image, id: :img_prev %>
          <% else %>
            <%= image_tag "default_user.svg", id: :img_prev %>
          <% end %>
          
          <%= f.label :img %>
          <%= f.file_field :image, id: :user_image %>
          
          <script type="text/javascript">
            $(function() {
             function readURL(input) {
               if (input.files && input.files[0]) {
                 var reader = new FileReader();
                 reader.onload = function (e) {
                   $('#img_prev').attr('src', e.target.result);
                 }
                 reader.readAsDataURL(input.files[0]);
               }
             }
             $("#user_image").change(function(){
               readURL(this);
               console.log(this);
             });
            });
          </script>
          
        </div>
        
        <div class="form-group">
          <%= f.label :name, 'ユーザー名' %>
          <%= f.text_field :name, required: true, placeholder: '15文字以下で入力してください', class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :email, 'メールアドレス' %>
          <%= f.email_field :email, required: true, class: 'form-control' %>
        </div>
        
        <div class="form-group">
          <%= f.label :password, 'パスワード' %>
          <%= f.password_field :password, required: true, placeholder: '英数字8文字以上で入力してください', class: 'form-control' %>
        </div>
      
        <div class="form-group">
          <%= f.label :password_confirmation, 'パスワード(確認用)' %>
          <%= f.password_field :password_confirmation, required: true, placeholder: 'もう一度同じパスワードを入力してください', class: 'form-control mb-4' %>
        </div>
        
        <%= f.submit '登録する', class: 'signup-button btn btn-primary btn-block mb-5' %>
      <% end %>
    </div>
  </div>
</div>