<aside>
  <div class="row my-user-wapper">
    <div class="my-user-image col-md-5">
      <%= render 'users_image' %>
    </div>
    <div class="photo-right col-md-5 offset-md-2">
      <p class="my-user-text mb-0"><%= @user.name %></p>
      <%= render 'relationships/follow_button', user: @user %>
    </div>
  </div>
</aside>
<div>
  <%= render 'users/users_tab', user: @user %>
  <%= render 'posts/posts_list', posts: @posts %>
</div>
