<%= form_with(model: @post, local: true) do |f| %>

  <% if @post.errors.any? %>
  <% end %>
  
  <div class="row mt-5">
    <div class="col-md-6">
      <div class="post-new">
        <div class="sign-user-image">
          <% if @post.image.present? %>
            <%= image_tag @post.image.to_s, id: :img_prev_post, class: "post-picture", alt: '新規投稿画像' %>
          <% else %>
            <%= image_tag "default_post.svg", id: :img_prev_post, class: "post-picture", alt: '新規投稿画像' %>
          <% end %>
        </div>
        <div class="field post-pic-field">
          <%= f.label :image, "写真を選択する" ,class: "post-pic-button signup-button btn btn-block" %>
          <%= f.file_field :image, id: :post_image, class: "picture-form" %>
          <%= f.hidden_field :image_cache %>
        </div>
      </div>
        <script type="text/javascript">
          $(function() {
           function readURL(input) {
             if (input.files && input.files[0]) {
               var reader = new FileReader();
               reader.onload = function (e) {
                 $('#img_prev_post').attr('src', e.target.result);
               }
               reader.readAsDataURL(input.files[0]);
             }
           }
           $("#post_image").change(function(){
             readURL(this);
             console.log(this);
           });
          });
        </script>
      <div>
        <p class="text-center"><span class="badge badge-danger mr-1">必須</span>5MBまでの画像をアップロードできます</p>
      </div>
      <% if @post.errors.include?(:image) %>
        <p class="error-message text-center"><%= @post.errors.full_messages_for(:image).first %></p>
      <% end %>
      
      <div class="text-center mb-3">
      <%= f.label :capture, 'キャプション', class: "mt-3 capt-label" %>
      <%= f.text_area :capture, size: "40x4", maxlength: "140", placeholder: '140字以内で入力してください。' %>
    </div>
  </div>
  
    <div class="col-md-5 p-4 border box box-radius add-eva text-center">
      <%= f.fields_for :evaluations do |eva_form| %>
      <div class="form-group mb-4">
        <div class='eva-label'>
          <span class="badge badge-danger mr-1">必須</span>
          <%= eva_form.label :item_title_1, '自己評価カテゴリー' %>
          <span class="ml-1 badge badge-success">１</span>
        </div>
        <%= eva_form.select :item_title_1, {'幸せ度': 1, '印象度': 2,'熱中度': 3,'緊張度': 4,'癒され度': 5}, { include_blank: '自己評価を選択'}, { class: 'form-control eva-select' , required: true } %>
        <div id="star" class="field eva-field">
          <div class="eva-circle">
            <%= eva_form.hidden_field :item_amount_1, :id => "review_star" %>
          </div>
            <script>
              $('#star').raty({
                size: 36,
                starOff:  '<%= asset_path('no-eva.png') %>',
                starOn : '<%= asset_path('eva.png') %>',
                scoreName: 'post[evaluations_attributes][0][item_amount_1]',   //# evaluationカラムへの保存
              });
            </script>
          </div>
          <% if @post.evaluations.each do |ev| %>
          <% if ev.errors.any? %>
            <p class="error-message text-center"><%= ev.errors.full_messages_for(:item_amount_1).first %></p>
            <% end %>
          <% end %>
        <% end %>
        </div> 
    
      <div class="form-group mb-4">
        <div class='eva-label'>
          <%= eva_form.label :item_title_2, '自己評価カテゴリー' %>
          <span class="ml-1 badge badge-success">2</span>
        </div>
        <%= eva_form.select :item_title_2, {'幸せ度': 1, '印象度': 2,'熱中度': 3,'緊張度': 4,'癒され度': 5}, { include_blank: '自己評価を選択'}, { class: 'form-control eva-select' } %>
        <div id= "star_2" class="field eva-field">
          <div class="eva-circle">
            <%= eva_form.hidden_field :item_amount_2, :id => "review_star_2" %>
          </div>
            <script>
              $('#star_2').raty({
                size: 36,
                starOff:  '<%= asset_path('no-eva.png') %>',
                starOn : '<%= asset_path('eva.png') %>',
                scoreName: 'post[evaluations_attributes][0][item_amount_2]',   //# evaluationカラムへの保存
              });
            </script>
          </div>
          <% if @post.evaluations.each do |ev| %>
          <% if ev.errors.any? %>
            <p class="error-message text-center"><%= ev.errors.full_messages_for(:item_amount_2).first %></p>
            <% end %>
          <% end %>
        <% end %>
        </div> 
        <div class="form-group mb-4">
          <div class='eva-label'>
            <%= eva_form.label :item_title_3, '自己評価カテゴリー' %>
            <span class="ml-1 badge badge-success">3</span>
          </div>
          <%= eva_form.select :item_title_3, {'幸せ度': 1, '印象度': 2,'熱中度': 3,'緊張度': 4,'癒され度': 5}, { include_blank: '自己評価を選択'}, { class: 'form-control eva-select' } %>
          <div id="star_3" class="field eva-field">
            <div class="eva-circle">
              <%= eva_form.hidden_field :item_amount_3, :id => "review_star_3" %>
            </div>
              <script>
                $('#star_3').raty({
                  size: 36,
                  starOff:  '<%= asset_path('no-eva.png') %>',
                  starOn : '<%= asset_path('eva.png') %>',
                  scoreName: 'post[evaluations_attributes][0][item_amount_3]',   //# evaluationカラムへの保存
                });
              </script>
            </div>
          </div> 
        <p>※必ず１つ、お答えください</p>
        <p>※重複した評価は投稿できません</p>
      </div>
      <% end %>
     </div>
  <div class="row">
    <div class="post-field col-md-12 text-center">
      <%= f.submit '投稿する', class: 'post-button signup-button btn mb-5' %>
    </div>
  </div>
<% end %>
<script>
$(function() {
      // class="eva-select" が選択された時のイベント
      $(".eva-select").on("change", function() {
          // 「.eva-select に属するoptionで」「valueが空でない」「現在選択中」の value を取得して
          // 配列に溜めておく
          var selectedValues = [];
          $(".eva-select option:not([value='']):selected").each(function() {
              var $opt = $(this);
              selectedValues.push($opt.val());
          });
          // 「.eva-select に属するoptionで」「valueが空でない」「現在選択中ではない」ものをloopで回す
          $(".eva-select option:not([value='']):not(:selected)").each(function() {
              var $opt = $(this);
              var val = $opt.val();

              // チェック対象のoptionのvalueが、selectedValuesに存在するものならdisabledにする
              // そうでないならdisabled解除
              if ($.inArray(val, selectedValues) >= 0) {
                  $opt.prop("disabled", true);
              } else {
                  $opt.prop("disabled", false);
              }
          });
      });
  });
</script>