<p>検索</p>

<%= form_tag(search_posts_path,:method => 'get') do %>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>

<div>
  <div class="current-wrapper">
  <% @posts.each do |post| %>
    <div class="post-image">
      <div class="inner">
        <% if post.image? %>
          <a href="/posts/<%= post.id %>">
            <div class="image-wrapper">
              <%= image_tag post.image.url %>
            </div>
              <%= render "/evaluations/evaluation_posts_list", post: post %>
            <div class="post-like">
              <p><i class="fas fa-heart fa-2x"></i></p>
              <p><%= post.favoriters.count %></p>
            </div>
          </a>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
</div>

