<div class="row border box-radius p-3">
  <div class="col-md-6 ">
    <div class="my-user-wrapper">
      <div class="post-user-photo mr-3">
        <% if @user.image? %>
          <%= link_to image_tag(@user.image.url, class: 'current-user-picture'), user_path(@user) %>
        <% else %>
          <%= link_to image_tag("default_user.svg", class: "current-user-picture"), user_path(@user) %>
        <% end %>
      </div>
      <div class="my-user-name">
        <%= link_to @user.name, user_path(@user) %>
      </div>
    </div>
    <div class="post-show-photo">
      <%= image_tag @post.image.url %>
    </div>
  </div>
  <div class="col-6 text-center details-list">
    <div class="test">
      <div class="eva-list">
        <div class="eva-item">
          <%= render "evaluations/evaluation_list", post: @post %>
        </div>
        <div class="like-list">
          <%= render 'favorites/favorite_button', post: @post %>
        </div>
        <%= @count_favoriters %>
        <div class="coment-list">
          <p>
            <%= @post.capture %>
          </p>
      </div>
    </div>
  </div>
    <div>
      <p class="post-created pb-0">
        <%= @post.created_at.strftime("%Y/%m/%d %H:%M") %>
      </p>
    </div>
  </div>
</div>


<div>
  <p>いいねしたユーザー<span class="badge badge-secondary"><%= @count_favoriters %></span></p>
</div>
<%= render 'users/users', users: @favoriters %>
