<header class="mb-4">
  <nav class="navbar navbar-expand-md navbar-light">
    
    <div class="justify-content-start">
      <a class="navbar-brand" href="/"><span class="mr-1 top-title"><i class="far fa-clipboard"></i>Clip</span></a>
      <a class="search-link" href="/posts/search"><span><i class="fas fa-search"></i></span>検索</a>
    </div>
    
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
      <ul class="navbar-nav">
        <% if logged_in? %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to '新規投稿', new_post_path, class: 'nav-link' %></li>
          <li class="nav-item dropdown">
            <a href="#" class="photo-nav nav-link dropdown-toggle" data-toggle="dropdown">
            <% if current_user.image? %>
              <%= image_tag current_user.image.url, class: 'nav-user-image' %>
            <% else %>
              <%= image_tag "default_user.svg", class: "nav-user-image" %>
            <% end %>
              <a href="#" class="text-nav nav-link dropdown-toggle" data-toggle="dropdown">
                <%= current_user.name %>
              </a>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
              <li class="dropdown-item"><%= link_to 'マイプロフィール', user_path(current_user) %></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item"><%= link_to 'ユーザー一覧', users_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ログイン', login_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'ユーザー登録', signup_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>